<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리바운드 - 서비스 소개</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    .full-width-image {
      width: 100vw;
      height: auto;
      display: block;
    }

    .centered-image {
      width: 70vw;
      margin: 40px auto 0;
      display: block;
    }
  </style>
</head>
<body>
  <img src="/images/service/회사소개이미지.png" alt="" class="full-width-image">
  <img src="/images/service/service-intro-img.jpg" alt="" class="centered-image">

</body>
</html>
