<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리바운드 관리자</title>
    <link data-vue-meta="1" rel="shortcut icon" href="/images/member/icon.png">
    <link rel="stylesheet" href="/css/admin-login/admin-login.css">
</head>
<body>
    <div id="rebound">
        <!-- 모달 창 -->
        <div class="rebound-modal">
            <div class="modal-inner animate__animated animate__fadeIn animate__faster raise">
                <div class="header">
                    <h3 class="modal-title">알림</h3>
                </div>
                <!-- 이메일을 입력하지 않았을 때
                <div class="body">이메일 형식에 맞게 입력해주세요.</div> -->

                <!-- 비밀번호를 입력하지 않았을 때
                <div class="body">비밀번호를 입력해주세요.</div> -->
                
                <!-- 가입된 회원정보가 없거나 비밀번호가 잘못 입력 되었을 때 -->
                <div class="body">가입된 회원정보가 없거나 비밀번호가 잘못 입력되었습니다.</div>
                <div class="footer">
                    <div class="button-if layout-xs-row">
                        <a href="" id="rebound-modal-success-button" class="modal-button success-btn full-modal-button rebound-color rebound-theme-color">확인</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="rebound-notify-container"></div>
        <div class="popup-manager" style="width: 0px;"></div>
        <div id="rebound-main">
            <div class="login-container full-window undefined">
                <div class="horizontal-center">
                    <div class="login-inner vertical-center">
                        <div class="login-logo text-center">
                            <span class="comp-icon bootpay-logo" id="bootpay/bootpay-logo.svg">
                                <img class="comp-icon bootpay-logo" src="/images/logo.png">
                            </span>
                        </div>
                        <form>
                            <div class="login-box center-box">
                                <div class="box-title roboto">
                                    <span class="text-primary">LOG</span>IN
                                </div>
                                <div class="box-subtitle">리바운드 관리자에 로그인하세요</div>
                                <div class="form-group">
                                    <input class="form-control h65" placeholder="이메일 계정을 입력해주세요" name="rebound">
                                </div>
                                <div class="form-group">
                                    <input class="form-control h65" placeholder="패스워드를 입력해주세요" name="password">
                                </div>
                                <div class="form-group form-rebound-check">
                                    <!-- 자동 로그인 체크 -->
                                    <label>
                                        <input type="checkbox" id="auto-login-checkbox" hidden>
                                        <div class="rebound-check d-flex align-items-center undefined">                           
                                            <div class="rebound-check-box" tabindex="0" style="width: 20px; height: 20px;">
                                                <i class="mdi mdi-check" style="display: none;"></i>
                                            </div>
                                            <div class="rebound-check-content flex-grow-1">자동로그인</div>
                                        </div>  
                                    </label>
                                    <!-- 자동 로그인 체크 (클론코딩 버전)
                                    <div class="rebound-check d-flex align-items-center undefined checked">
                                        <div class="rebound-check-box checked" tabindex="0" style="width: 20px; height: 20px;">
                                            <i class="mdi mdi-check" style="display: inline-block;"></i>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="btn-wrapper">
                                    <button class="btn btn-primary btn-login h65 btn-block">로그인</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/admin-login/admin-login.js"></script>
</html>