* {
    word-break: break-word;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #293341;
    text-align: left;
    background-color: #fff;
}

html, body {
    height: 100%;
}

a {
    color: #293341;
    text-decoration: none;
    background-color: transparent;
}

img {
    vertical-align: middle;
    border-style: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

ul {
    padding: 0;
}

ol, ul, dl {
    margin-top: 0;

}

ul li {
    list-style: none;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: inherit;
    line-height: inherit;
}

/* #app {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

#app #app-header, #app #app-body {
    opacity: 1;
    transition: opacity .3s ease-in;
} */

#app-header.hide-border-bottom {
    border-bottom: none;
}

@media (min-width: 992px) {
    #app-header {
        height: 4.5rem;
        border-bottom: .0625rem solid #EFF1F5;
    }
}

#app-header {
    position: sticky;
    top: 0;
    height: 3.625rem;
    background-color: #fff;
}

.global-header {
    z-index: 1020;
    display: block;
}

.profile .global-navigation-bar, .hide-border-bottom .global-navigation-bar, :not(:has(.home)) .has-lnb .global-navigation-bar {
    border-bottom: none;
}

@media (min-width: 992px) {
    body .global-navigation-bar {
        height: 4.5rem;
        padding: 0;
        border-bottom: none;
    }
}

.global-navigation-bar {
    position: relative;
    display: flex;
    justify-content: center;
    height: 3.625rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    border-bottom: .0625rem solid #EFF1F5;
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}

.desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60.625rem;
    height: 100%;
}

.desktop-header .left-section, .desktop-header .right-section {
    display: flex;
    align-items: center;
}

.desktop-header .nav-list {
    display: flex;
    margin: 0;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.desktop-header .logo {
    margin-right: 1.875rem;
}

.desktop-header .logo img {
    height: 50px;
}

.desktop-header .left-section-item {
    margin-left: 1.125rem;
    font-weight: 500;
}

.desktop-header .left-section-item:first-child {
    margin-left: 0;
}

.desktop-header .pro-signup-btn {
    width: 5rem;
    padding: .40625rem 0;
    font-size: .875rem;
    border-radius: 6px;
}

.desktop-header .right-section-item {
    margin-left: 1rem;
}

.prisma-typography {
    padding: 0;
    margin: 0;
    letter-spacing: normal !important;
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    word-break: break-word;
    text-decoration: none;
}

.prisma-typography.primary {
    color: #1c242f;
}

.prisma-typography.body16\:semibold {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-weight: 600 !important;
}

.prisma-typography.body14\:medium {
    font-size: .875rem !important;
    line-height: 1.375rem !important;
    font-weight: 500 !important;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #293341;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .0625rem solid transparent;
    padding: .6875rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #693bf2;
    border-color: #693bf2;
}

.btn a {
    display: block;
    line-height: inherit;
    color: inherit;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}


