html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
main {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}
body {
    line-height: 1;
}
* {
    box-sizing: border-box;
    word-break: break-word;
}
main {
    display: block;
    unicode-bidi: isolate;
}
html, body, #__next {
    font-family: font, "font Fallback";
    line-height: 1.5;
    color: rgb(41, 51, 65);
}

.log-1{
    display: flex
;
}
.log-2{
    min-height: 1.375rem;
    line-height: 1.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgb(28, 36, 47);
    text-align: left;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}
.log-3{
    display: flex
;
    position: relative;
}
.log-4{
    margin: 0px 2px 0px 0px;
}
.log-5{
    display: none;
    position: relative;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 53, 65);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 999px;
}
.log-6{
    width: fit-content;
    height: fit-content;
    position: relative;
    display: inline-flex
;
}
.log-7{
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(41, 51, 65);
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    width: initial;
    display: flex
;
    border: 0px;
}
.log-8{
    position: relative;
    width: 24px;
    height: 24px;
}
.log-9{
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(41, 51, 65);
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    width: initial;
    display: flex
;
    border: 0px;
}
.log-10{
    position: relative;
    display: none;
}
@media (min-width: 768px) {
    .log-10 {
        display: block;
    }
}
.log-11{
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(41, 51, 65);
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    width: initial;
    display: flex
;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
}
.logo-12{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(239, 241, 245);
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
}
@media (min-width: 768px) {
    .logo-13 > ul {
        display: flex
;
        /* -webkit-box-align: center; */
        /* align-items: center; */
        gap: 16px;
        margin: 0;
    }
}
.desktop-header .right-section {
    justify-content: flex-end;
}

body #app-header, #app #app-body {
    height: 4.5rem;
    transition: opacity .3s ease-in;
}

.desktop-header .nav-item {
    position: relative;
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header .displaynone{
    display: none;
}

.css-1sm6nvv {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 22px 22px 0px;
    border-radius: 4px;
    position: absolute;
    top: 44px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0.625rem 0px;
    z-index: 1000;
}

.alimarea{
    display: none;
}

.alimarea.active{
    display: block;
}

.mydiv {
    display: none;
}

.mydiv.active{
    display: block;
}

.css-typk84 {
    font-size: 16px;
    color: rgb(41, 51, 65);
    font-weight: 500;
    display: -webkit-box;
    max-height: 1.5em;
    line-height: 1.5;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.css-1kv8jz5 {
    padding: 16px 0px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(224, 229, 235);
}

.css-1kv8jz5 li {
    display: flex
;
}

.css-1kv8jz5 a {
    flex: 1 1 0%;
    padding: 11px 0px;
    line-height: 20px;
}

.css-1dm0ga1 {
    min-height: 1.375rem;
    line-height: 1.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgb(28, 36, 47);
    text-align: left;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}

.css-1vwyj90 {
    height: 42px;
    padding: 11px 0px;
    line-height: 20px;
    font-size: 14px;
    display: flex
;
    gap: 4px;
    margin-bottom: 20px;
}

.css-zch90j {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-color: transparent;
    background-color: rgb(246, 247, 249);
    color: rgb(106, 118, 133);
    padding: 10px 8px;
    line-height: 20px;
    margin: 0px -22px;
    width: calc(100% + 44px);
    font-size: 14px;
}

.notifications-overlay {
    position: absolute;
    top: 2.375rem;
    right: -5.5rem;
    z-index: 1050;
    width: 24.4375rem;
    height: 43.875rem;
    margin-bottom: 1rem;
    overflow: visible;
    cursor: auto;
    background-color: #fff;
    border: .0625rem solid #EFF1F5;
    border-radius: 8px;
    box-shadow: 0 1.125rem 2.5rem -.75rem #3232324d;
}

.notifications-overlay:before {
    position: absolute;
    top: -.5625rem;
    right: 5.625rem;
    width: 1.125rem;
    height: .625rem;
    content: "";
}

.notifications-overlay .overlay-content {
    display: flex
;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem 0 0;
    overflow: hidden;
}

.notifications-overlay .overlay-content .overlay-header {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    height: 3.25rem;
    padding: 0 1.5rem;
    border: 0;
    border-bottom: .0625rem solid #EFF1F5;
}

.notifications-overlay .overlay-content .overlay-header .tab {
    display: flex
;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.notifications-overlay .overlay-content .overlay-header .tab .tab-item:nth-of-type(1) {
    padding: 0 .25rem;
}

.notifications-overlay .overlay-content .overlay-header .tab .tab-item {
    position: relative;
    display: flex
;
    height: 100%;
}

.notifications-overlay .overlay-content .overlay-header .tab .tab-item button {
    display: flex
;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
}

.prisma-typography.primary {
    color: #1c242f;
}

.prisma-typography.headline18 {
    font-size: 1.125rem !important;
    font-weight: 700 !important;
    line-height: 1.625rem !important;
}

.prisma-typography {
    padding: 0;
    margin: 0;
    letter-spacing: normal !important;
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    word-break: break-word;
    text-decoration: none;
}

.notifications-overlay .overlay-content .overlay-header .tab .tab-item.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: .125rem;
    content: "";
    background-color: #1c242f;
}

.notifications-overlay .overlay-content .overlay-header .tab .tab-item {
    position: relative;
    display: flex
;
    height: 100%;
}

.notifications-overlay .overlay-content .overlay-header .tab .tab-item button {
    display: flex
;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
}

.prisma-typography.secondary {
    color: #6a7685;
}

.prisma-typography.body18\:semibold {
    font-size: 1.125rem !important;
    line-height: 1.625rem !important;
    font-weight: 600 !important;
}

.prisma-typography {
    padding: 0;
    margin: 0;
    letter-spacing: normal !important;
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    word-break: break-word;
    text-decoration: none;
}

.notifications-overlay .overlay-content .overlay-header .tab .tab-item .icon-wrapper img {
    width: 1.25rem;
    height: 1.25rem;
}

.notifications-overlay .overlay-content .overlay-header .tab .tab-item .icon-wrapper>* {
    display: flex !important
;
}.notifications-overlay .overlay-content .overlay-header .buttons {
    display: flex
;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    align-items: center;
}

.prisma-icon path {
    fill: currentColor;
}

.notifications-overlay .overlay-content .overlay-header .buttons button {
    padding: 0;
    margin: 0;
    border: 0;
}

.notifications-overlay .category {
    position: relative;
    margin: 1rem 1.5rem;
    overflow: hidden;
}

.notifications-overlay .category-list {
    display: flex
;
    flex-wrap: nowrap;
    row-gap: .75rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    max-height: 2rem;
    margin: 0;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.notifications-overlay .category-list .category-item {
    flex-shrink: 0;
}

button.chip.selected.filter, button.chip.selected.action {
    box-shadow: none;
    background-color: #293341;
}

button.chip  {
    display: flex
;
    align-items: center;
    gap: .25rem;
    flex: 0 0 auto;
    height: 2rem;
    background-color: #fff;
    padding: .5rem .75rem;
    box-shadow: 0 0 0 .0625rem #e0e5eb inset;
    border: 0;
    border-radius: 16px;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;
}

.prisma-typography.white {
    color: #fff;
}

.prisma-typography.chip {
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1rem !important;
}

.prisma-typography {
    padding: 0;
    margin: 0;
    letter-spacing: normal !important;
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    word-break: break-word;
    text-decoration: none;
}

.dot-container {
    position: relative;
    display: flex
;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.notification-dot {
    display: flex
;
    width: .375rem;
    height: .375rem;
    border: .0625rem solid white;
    border-radius: 50%;
    background-color: #ff3541;
    box-sizing: content-box;
}

.notifications-overlay .category .expand-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex
;
}

.notifications-overlay .category .expand-wrapper .expand-button {
    display: inline-block;
    background: #fff;
}

.notifications-overlay .category .expand-wrapper .expand-button>button {
    display: flex
;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: #fff;
    border: solid .0625rem #E0E5EB;
    border-radius: 50%;
}

.notifications-overlay .category .expand-wrapper .expand-button>button svg {
    transition: .2s ease-out;
    transform: rotate(0);
}

.prisma-icon.secondary {
    color: #6a7685;
}

.prisma-icon path {
    fill: currentColor;
}

.notifications-overlay .overlay-body {
    height: 100%;
    overflow: auto;
}

.notification-body {
    height: 100%;
}

.user-notifications {
    overflow-y: auto;
}

.user-notifications ul {
    padding: 0;
    margin: 0;
}

.user-notifications ul li>.card-container {
    display: flex
;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    padding: 1rem 1.5rem;
    text-align: left;
}

.user-notifications ul li>.card-container .category-icon>.icon-wrapper {
    display: inline-flex
;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: .0625rem solid #EFF1F5;
    border-radius: 999px;
}
.user-notifications ul li>.card-container .category-icon>.icon-wrapper img {
    width: 1.25rem;
    height: 1.25rem;
}

.user-notifications ul li>.card-container .info {
    display: flex
;
    flex-direction: column;
    row-gap: .25rem;
    justify-content: center;
    width: 100%;
}

.user-notifications ul li>.card-container .info .title {
    flex-wrap: nowrap;
    justify-content: space-between;
}

body .no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row {
    display: flex
;
    flex-wrap: wrap;
    margin-right: -.9375rem;
    margin-left: -.9375rem;
}

.user-notifications ul li>.card-container .info .title>p {
    flex: 1;
    display: -webkit-box;
    max-height: 3em;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.prisma-typography.secondary {
    color: #6a7685;
}

.prisma-typography.body14\:semibold {
    font-size: .875rem !important;
    line-height: 1.375rem !important;
    font-weight: 600 !important;
}

.prisma-typography {
    padding: 0;
    margin: 0;
    letter-spacing: normal !important;
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    word-break: break-word;
    text-decoration: none;
}

.desktop-header .right-section-item {
    margin-left: 1rem;
}

.usermenu {
    position: relative;
}

.usermenu-button .user-profile-picture {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.user-profile-picture div[data-name=image] {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid .0625rem #EFF1F5;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
}

.user-profile-picture div[data-name=image] img {
    width: 100%;
    vertical-align: middle;
}

.usermenu-button {
    display: flex
;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-profile-picture {
    position: relative;
}

.user-profile-picture.no-padding div[data-name=image] {
    height: 100%;
    padding-bottom: 0;
}

.usermenu .usermenu-dropdown {
    z-index: 100;
}

.usermenu-dropdown {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15rem;
    padding: 1.3125rem;
    overflow: visible;
    text-align: left;
    background-color: #fff;
    border: .0625rem solid #E0E5EB;
    border-radius: 4px;
    box-shadow: 0 0 .625rem #0000001a;
    transform: translateY(103%);
}

.usermenu-dropdown div[data-name=user-info] h4[data-name=name] {
    margin-bottom: 0;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.usermenu-dropdown ul[data-name=usermenu-control]    {
    padding-bottom: 1.3125rem;
    margin-top: 1rem;
    margin-bottom: 1.3125rem;
    border-bottom: .0625rem solid #E0E5EB;
}

.notification-counter {
    position: relative;
    cursor: pointer;
}

.prisma-typography.tertiary {
    color: #aab4bf;
}

.prisma-typography.body12\:regular {
    font-size: .75rem !important;
    line-height: 1.25rem !important;
    font-weight: 400 !important;
}

.term {
    padding: 2.5rem 0;
    text-align: center;
}

.prisma-typography {
    padding: 0;
    margin: 0;
    letter-spacing: normal !important;
    font-family: Pretendard, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    word-break: break-word;
    text-decoration: none;
}

body .myprofile.active {
    border: .125rem solid #693BF2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h4, .h4, .swal2-container.sg-swal .swal2-header .swal2-title {
    font-size: 1.375rem;
    line-height: 2.0625rem;
    font-weight: 500;
    letter-spacing: -.025rem;
}

.usermenu-dropdown .logout, .usermenu-dropdown div button.btn, .usermenu-dropdown div button.btn, .usermenu-dropdown ul {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}

.usermenu-dropdown ul[data-name=usermenu-control] li {
    padding: .65625rem 0;
    cursor: pointer;
}

.usermenu-dropdown ul li div {
    color: #293341;
}

.col, .modal .modal-footer .btn {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.user-type-control {
    margin: 1.3125rem 0;
}

.usermenu-dropdown div button.btn {
    color: #293341;
}

.usermenu-dropdown button.btn {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
}

.btn-sm, .btn-group-sm>.btn {
    padding: .59375rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.usermenu-dropdown div img {
    margin-right: .65625rem;
}

.usermenu-dropdown .logout {
    margin: 1.3125rem -1.3125rem -1.3125rem;
    background-color: #f6f7f9;
}

body header .usermenu-dropdown button.btn {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
}

body header .btn.btn-secondary, .btn.btn-outline-secondary {
    color: #6a7685;
}

body .usermenu-dropdown .logout button.btn {
    text-align: center;
}

.col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .modal .modal-footer .btn, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    position: relative;
    width: 100%;
    padding-right: .9375rem;
    padding-left: .9375rem;
}