<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link data-vue-meta="1" rel="shortcut icon" href="/images/member/icon.png">
    <link rel="stylesheet" href="/css/member/counselor-mypage.css">
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">

</head>
<body>
    <main class="main">
        <div class="main-1">
            <p class="main-2">마이페이지 (상담사)</p>
            <div class="main-3">
                <a class="main-5" href="">
                    <img alt="썸네일" width="68" height="68" decoding="async" data-nimg="1" class="main-6" srcset=";">
                    <div class="main-7">
                        <div class="main-8">
                            <span class="main-9">홍길동</span>
                            <div class="main-10"> 상담사님</div>
                        </div>
                        <div class="main-11">
                            <span class="main-9">abc1234@naver.com</span>
                        </div>
                    </div>
                    <span class="main-12">계정설정</span>
                </a>
            </div>
            <section class="main-4">
                <div class="main-13">
                    <div class="main-14">
                        <h6 class="main-15">커뮤니티</h6>
                    </div>
                </div>
                <ul>
                    <li>
                        <div role="button" tabindex="0" class="main-16">
                            <div class="main-17">
                                <span class="main-18">나의 댓글</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" color="#AAB4BF">
                                <path fill="none" stroke="#B5B5B5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m7 14 5-5-5-5"></path>
                            </svg>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="main-4">
                <div class="main-13">
                    <div class="main-14">
                        <h6 class="main-15">오늘의 좋은 말</h6>
                    </div>
                </div>
                <ul>
                    <li>
                        <div role="button" tabindex="0" class="main-16">
                            <div class="main-17">
                                <span class="main-18">나의 좋은 말</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" color="#AAB4BF">
                                <path fill="none" stroke="#B5B5B5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m7 14 5-5-5-5"></path>
                            </svg>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="main-4">
                <div class="main-13">
                    <div class="main-14">
                        <h6 class="main-15">상담하기</h6>
                    </div>
                </div>
                <ul>
                    <li>
                        <div role="button" tabindex="0" class="main-16">
                            <div class="main-17">
                                <span class="main-18">상담목록</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" color="#AAB4BF">
                                <path fill="none" stroke="#B5B5B5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m7 14 5-5-5-5"></path>
                            </svg>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="main-4">
                <div class="main-13">
                    <div class="main-14">
                        <h6 class="main-15">1:1 문의</h6>
                    </div>
                </div>
                <ul>
                    <li>
                        <div role="button" tabindex="0" class="main-16">
                            <div class="main-17">
                                <span class="main-18">나의 문의함</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" color="#AAB4BF">
                                <path fill="none" stroke="#B5B5B5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m7 14 5-5-5-5"></path>
                            </svg>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </main>
</body>
<script src="/js/member/counselor-mypage.js"></script>
</html>