<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link data-vue-meta="1" rel="shortcut icon" href="/images/member/icon.png">
    <link rel="stylesheet" href="/css/member/find-password.css">
    <link rel="stylesheet" href="/font/didactgothic.woff2">
</head>
<body>
    <main id="main" class="main">
        <header th:replace="~{/main-page/header}"></header>
        <div class="container">
            <div class="container-1">
                <h2>비밀번호 찾기</h2>
                <div class="card">
                    <form action="/mail/send" method="post">
                       <div class="row">
                        <div class="col">
                            <fieldset class="form-group" id="">
                                <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0" id="__BVID__80__BV_label_">가입한 이메일 주소를 입력해주세요</legend>
                                <div>
                                    <input data-v-43fb0b96="" name="email" type="text" placeholder="example@gmail.com" class="form-control" data-vv-name="email" aria-invalid="false" id="__BVID__81">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <small data-v-43fb0b96="" class="notice form-text text-muted"> 가입하신 이메일 주소를 입력해주시면<br> 
                                새로운 비밀번호를 설정 가능한 링크를 보내드립니다. 
                            </small>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-block">
                                <span >이메일 전송하기</span>
                                <span style="display: none;">
                                    <div>
                                        <div  class="indicator-body center" style="width: 24px; height: 24px; border-width: 0.25rem; border-style: solid; border-color: rgb(255, 255, 255) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2); border-image: initial;"></div>
                                        <p  style="display: none;">

                                        </p>
                                    </div>
                                </span>
                            </button>
                        </div>  
                       </div> 
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="~{/main-page/footer}"></footer>
    </main>
</body>
<script src="/js/member/password/module/service.js"></script>
<script src="/js/member/password/event.js"></script>
</html>