<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 찾기</title>
    <link data-vue-meta="1" rel="shortcut icon" href="/images/member/icon.png">
    <link rel="stylesheet" href="/css/member/find-email-ok.css">
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">


</head>
<body>
    <main class="main">
        <div class="main-1">
            <div class="main-2">
                <h1 class="main-3">이메일 찾기</h1>
                <div class="main-4">
                    <form>
                        <div class="main-5">
                            <div class="main-7">고객님의 계정 정보를 알려드려요</div>
                            <div class="main-8">
                                <div class="css-0">
                                    <div class="main-10">
                                        <div class="main-11">
                                            <p>ks***95@naver.com</p>
                                            <br>
                                            <p>가입일 2025.07.25</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <a  href="/find-password">비밀번호 찾기</a>
                        <button type="submit" disabled="" class="main-6">로그인 하기</button>
                    </form>
                </div>
            </div>
        </div>
    </main>   
</body>
<script src="/js/member/find-email-ok.js"></script>
</html>