<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link data-vue-meta="1" rel="shortcut icon" href="/images/member/icon.png">
    <link rel="stylesheet" href="/css/member/join-user.css">
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/font/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/font/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/font/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/font/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/font/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/font/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/font/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/font/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">

</head>
<body>
    <div id="__next">
        <main class="line">
            <section class="main-1">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" viewBox="0 0 24 24" color="#1C242F">
                        <path fill="currentColor" d="M19.016 5.99a.75.75 0 1 0-1.06-1.061l-6.011 6.01-6.01-6.01a.75.75 0 0 0-1.061 1.06L10.884 12l-6.01 6.01a.75.75 0 1 0 1.06 1.061l6.011-6.01 6.01 6.01a.75.75 0 1 0 1.061-1.06L13.006 12z"></path>
                    </svg>
                </button>
            </section>
            <div class="main-2">
                <div class="main-3">
                    <div class="main-4">
                        <h1 class="main-5">실명을 입력해 주세요</h1>
                        <form action="/member/join" method="post" id="joinForm" th:object="${memberDTO}">
                            <div class="main-6">
                                <div class="main-9">
                                    <label class="main-10" for="memberName">이름</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <!-- 처음 포커스 전에 class이름은 main-16 이고  -->
                                            <input id="memberName" type="text" name="name" placeholder="이름을 입력해 주세요." aria-describedby="이름을 입력해 주세요." maxlength="20" enterkeyhint="enter" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" class="main-13 text member-input-box" value="" th:field="*{memberName}">
                                        </div>
                                    </div>
                                    <!-- 
                                    처음 포커스 전에
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>본인 실명이 아닌 경우 가입이 불가합니다.</span>
                                    </p>
                                    폰트 컬러도 회색임
                                     -->
                                    <p class="main-14 name-error-message disableEvent" role="alert" aria-live="assertive">
                                        <span>실명을 입력해 주세요</span>
                                    </p>
                                </div>
                                <div class="main-9">
                                    <label class="main-10" for="memberPhoneNumber">전화번호</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <span class="main-15"></span>
                                            <input id="memberPhoneNumber" type="text" name="email" placeholder="01012345678" inputmode="tel" maxlength="30" enterkeyhint="enter" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" class="main-16 text member-input-box" value="" style="padding-right: 24px;" th:field="*{memberPhoneNumber}">
                                        </div>
                                    </div>
                                    <p class="main-14 phoneNumber-error-message disableEvent" role="alert" aria-live="assertive">
                                        <span>전화번호를 입력해 주세요</span>
                                    </p>
                                    <!--
                                    미입력시
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>전화번호를 입력해 주세요</span>
                                    </p>
                                    잘못 입력시 밑에 메시지 출력
                                    올바른 전화번호를 입력해 주세요
                                    -->
                                </div>
                                <div class="main-9">
                                    <label class="main-10" for="memberEmail">이메일</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <span class="main-15"></span>
                                            <input id="memberEmail" type="email" name="email" placeholder="example@gmail.com"  inputmode="email" maxlength="30" enterkeyhint="enter" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" class="main-16 text member-input-box" value="" style="padding-right: 24px;" th:field="*{memberEmail}">
                                        </div>
                                    </div>
                                    <p class="main-14 email-error-message disableEvent" role="alert" aria-live="assertive">
                                        <span>이메일을 입력해 주세요</span>
                                    </p>
                                    <!-- 
                                    미입력시
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>이메일을 입력해 주세요</span>
                                    </p>
                                    잘못 입력시 밑에 메시지 출력
                                    올바른 이메일을 입력해 주세요
                                    -->
                                </div>
                                <div class="main-9">
                                    <label class="main-10" for="memberPassword">비밀번호</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <span class="main-15"></span>
                                            <input id="memberPassword" type="password" name="password" placeholder="비밀번호를 입력해 주세요." aria-describedby="비밀번호를 입력해 주세요." autocomplete="off" enterkeyhint="enter" class="main-16 text member-input-box" value="" style="padding-right: 24px;" th:field="*{memberPassword}">
                                        </div>
                                    </div>
                                    <p class="main-14 password-error-message disableEvent" role="alert" aria-live="assertive">
                                        <span>비밀번호를 입력해 주세요</span>
                                    </p>
                                    <!-- 
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>영문, 숫자, 특수문자 중 2종류 이상 사용해 주세요</span>
                                    </p>
                                    -->
                                </div>
                                <div class="main-9">
                                    <label class="main-10" for="passwordOK">비밀번호 확인</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <span class="main-15"></span>
                                            <input id="passwordOK" type="password" name="passwordConfirm" placeholder="비밀번호를 한 번 더 입력해 주세요." aria-describedby="비밀번호를 한 번 더 입력해 주세요." autocomplete="off" enterkeyhint="enter" class="main-16 text member-input-box" value="" style="padding-right: 24px;">
                                        </div>
                                    </div>
                                    <p class="main-14 passwordOK-error-message disableEvent" role="alert" aria-live="assertive">
                                        <span>비밀번호가 일치하지 않습니다</span>
                                    </p>
                                    <!-- 
                                    비밀번호 불일치시
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>비밀번호가 일치하지 않습니다</span>
                                    </p> 
                                    -->
                                </div>
                            </div>
                            <!--
                            데이터에 문제가 없을 경우 밑에 약관동의창이 보임
                            main-17의 display block으로 변경
                              -->
                            <div class="main-7">
                                <div class="main-33">
                                    <div class="main-34">
                                        <div class="main-35">
                                            <button type="button" class="main-36">
                                                <span class="main-31">
                                                    <span class="main-32">이전</span>
                                                </span>
                                            </button>
                                            <button type="button" class="main-37 joinButton">
                                                <span class="main-31">
                                                    <span class="main-32">다음</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="/js/member/join-user.js"></script>
</html>