<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link data-vue-meta="1" rel="shortcut icon" href="/images/member/icon.png">
    <link rel="stylesheet" href="/css/member/join-user.css">
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">

</head>
<body>
    <div id="__next">
        <main class="line">
            <section class="main-1">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" viewBox="0 0 24 24" color="#1C242F">
                        <path fill="currentColor" d="M19.016 5.99a.75.75 0 1 0-1.06-1.061l-6.011 6.01-6.01-6.01a.75.75 0 0 0-1.061 1.06L10.884 12l-6.01 6.01a.75.75 0 1 0 1.06 1.061l6.011-6.01 6.01 6.01a.75.75 0 1 0 1.061-1.06L13.006 12z"></path>
                    </svg>
                </button>
            </section>
            <div class="main-2">
                <div class="main-3">
                    <div class="main-4">
                        <h1 class="main-5">실명을 입력해 주세요</h1>
                        <form>
                            <div class="main-6">
                                <div class="main-9">
                                    <label class="main-10" for=":r2:">이름</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <!-- 처음 포커스 전에 class이름은 main-16 이고  -->
                                            <input id=":r2:" type="text" name="name" placeholder="이름을 입력해 주세요." aria-describedby="이름을 입력해 주세요." maxlength="20" enterkeyhint="enter" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" class="main-13 text" value="">
                                        </div>
                                    </div>
                                    <!-- 
                                    처음 포커스 전에
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>본인 실명이 아닌 경우 가입이 불가합니다.</span>
                                    </p>
                                    폰트 컬러도 회색임
                                     -->
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>실명을 입력해 주세요</span>
                                    </p>
                                </div>
                                <div class="main-9">
                                    <label class="main-10" for=":ra:">전화번호</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <span class="main-15"></span>
                                            <input id=":ra:" type="text" name="email" placeholder="010-1234-5678" inputmode="tel" maxlength="30" enterkeyhint="enter" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" class="main-16 text" value="" style="padding-right: 24px;">
                                        </div>
                                    </div>
                                    <!-- 
                                    미입력시
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>전화번호를 입력해 주세요</span>
                                    </p>
                                    잘못 입력시 밑에 메시지 출력
                                    올바른 전화번호를 입력해 주세요
                                    -->
                                </div>
                                <div class="main-9">
                                    <label class="main-10" for=":ra:">이메일</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <span class="main-15"></span>
                                            <input id=":ra:" type="text" name="email" placeholder="example@gmail.com"  inputmode="email" maxlength="30" enterkeyhint="enter" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" class="main-16 text" value="" style="padding-right: 24px;">
                                        </div>
                                    </div>
                                    <!-- 
                                    미입력시
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>이메일을 입력해 주세요</span>
                                    </p>
                                    잘못 입력시 밑에 메시지 출력
                                    올바른 이메일을 입력해 주세요
                                    -->
                                </div>
                                <div class="main-9">
                                    <label class="main-10" for=":rl:">비밀번호</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <span class="main-15"></span>
                                            <input id=":rl:" type="password" name="password" placeholder="비밀번호를 입력해 주세요." aria-describedby="비밀번호를 입력해 주세요." autocomplete="off" enterkeyhint="enter" class="main-16 text" value="" style="padding-right: 24px;">
                                        </div>
                                    </div>
                                    <!-- 
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>영문, 숫자, 특수문자 중 2종류 이상 사용해 주세요</span>
                                    </p>
                                    -->
                                </div>
                                <div class="main-9">
                                    <label class="main-10" for=":rm:">비밀번호 확인</label>
                                    <div class="main-11">
                                        <div class="main-12">
                                            <span class="main-15"></span>
                                            <input id=":rm:" type="password" name="passwordConfirm" placeholder="비밀번호를 한 번 더 입력해 주세요." aria-describedby="비밀번호를 한 번 더 입력해 주세요." autocomplete="off" enterkeyhint="enter" class="main-16 text" value="" style="padding-right: 24px;">
                                        </div>
                                    </div>
                                    <!-- 
                                    비밀번호 불일치시
                                    <p class="main-14" role="alert" aria-live="assertive">
                                        <span>비밀번호가 일치하지 않습니다</span>
                                    </p> 
                                    -->
                                </div>
                            </div>
                            <!-- 
                            데이터에 문제가 없을 경우 밑에 약관동의창이 보임
                            main-17의 display block으로 변경
                              -->
                            <div>
                                <div class="main-17">
                                    <div></div>
                                    <div>
                                        <div>
                                            <div class="main-18">
                                                <label class="css-1sb8vdm ecuffuz0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#C7CED6">
                                                        <path fill="currentColor" fill-rule="evenodd" d="M18 3.5H6A2.5 2.5 0 0 0 3.5 6v12A2.5 2.5 0 0 0 6 20.5h12a2.5 2.5 0 0 0 2.5-2.5V6A2.5 2.5 0 0 0 18 3.5M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4z" clip-rule="evenodd"></path>
                                                    </svg>
                                                    <input type="checkbox" class="main-21">
                                                약관 전체 동의
                                                </label>
                                            </div>
                                            <div class="main-19">
                                                <div class="main-22">
                                                    <div class="main-23">
                                                        <input type="checkbox" id=":re:" class="main-24" value="">
                                                        <label for=":re:" class="main-25">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#693BF2" class="checked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4zm11.53 7.138a.97.97 0 1 0-1.46-1.276l-5.428 6.208-2.147-2.212a.97.97 0 1 0-1.39 1.35l2.879 2.967a.97.97 0 0 0 1.425-.037z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#AAB4BF" class="unchecked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M18 3.5H6A2.5 2.5 0 0 0 3.5 6v12A2.5 2.5 0 0 0 6 20.5h12a2.5 2.5 0 0 0 2.5-2.5V6A2.5 2.5 0 0 0 18 3.5M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <div class="main-26">
                                                                <span class="main-27">
                                                                    만 14세 이상입니다 (필수)
                                                                </span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-22">
                                                    <div class="main-23">
                                                        <input type="checkbox" id=":rf:" class="main-24" value="">
                                                        <label for=":rd:" class="main-25">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#693BF2" class="checked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4zm11.53 7.138a.97.97 0 1 0-1.46-1.276l-5.428 6.208-2.147-2.212a.97.97 0 1 0-1.39 1.35l2.879 2.967a.97.97 0 0 0 1.425-.037z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#AAB4BF" class="unchecked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M18 3.5H6A2.5 2.5 0 0 0 3.5 6v12A2.5 2.5 0 0 0 6 20.5h12a2.5 2.5 0 0 0 2.5-2.5V6A2.5 2.5 0 0 0 18 3.5M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <div class="main-26">
                                                                <span class="main-27">이용약관 동의 (필수)</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <a target="_blank" class="main-28" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" color="#6A7685">
                                                            <path fill="currentColor" fill-rule="evenodd" d="M17.3 11.92a.75.75 0 0 0-.222-.528l-7.8-7.725a.75.75 0 1 0-1.056 1.066l7.267 7.197-7.272 7.343a.75.75 0 0 0 1.066 1.055l7.8-7.876a.75.75 0 0 0 .217-.531" clip-rule="evenodd"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="main-22">
                                                    <div class="main-23">
                                                        <input type="checkbox" id=":rg:" class="main-24" value="">
                                                        <label for=":rg:" class="main-25">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#693BF2" class="checked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4zm11.53 7.138a.97.97 0 1 0-1.46-1.276l-5.428 6.208-2.147-2.212a.97.97 0 1 0-1.39 1.35l2.879 2.967a.97.97 0 0 0 1.425-.037z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#AAB4BF" class="unchecked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M18 3.5H6A2.5 2.5 0 0 0 3.5 6v12A2.5 2.5 0 0 0 6 20.5h12a2.5 2.5 0 0 0 2.5-2.5V6A2.5 2.5 0 0 0 18 3.5M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <div class="main-26">
                                                                <span class="main-27">개인정보 수집 및 이용 동의 (필수)</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <a target="_blank" class="main-28" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" color="#6A7685">
                                                            <path fill="currentColor" fill-rule="evenodd" d="M17.3 11.92a.75.75 0 0 0-.222-.528l-7.8-7.725a.75.75 0 1 0-1.056 1.066l7.267 7.197-7.272 7.343a.75.75 0 0 0 1.066 1.055l7.8-7.876a.75.75 0 0 0 .217-.531" clip-rule="evenodd"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="main-22">
                                                    <div class="main-23">
                                                        <input type="checkbox" id=":rh:" class="main-24" value="">
                                                        <label for=":rh:" class="main-25">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#693BF2" class="checked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4zm11.53 7.138a.97.97 0 1 0-1.46-1.276l-5.428 6.208-2.147-2.212a.97.97 0 1 0-1.39 1.35l2.879 2.967a.97.97 0 0 0 1.425-.037z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#AAB4BF" class="unchecked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M18 3.5H6A2.5 2.5 0 0 0 3.5 6v12A2.5 2.5 0 0 0 6 20.5h12a2.5 2.5 0 0 0 2.5-2.5V6A2.5 2.5 0 0 0 18 3.5M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <div class="main-26">
                                                                <span class="main-27">선택정보 수집 및 이용 동의 (선택)</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <a target="_blank" class="main-28" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" color="#6A7685">
                                                            <path fill="currentColor" fill-rule="evenodd" d="M17.3 11.92a.75.75 0 0 0-.222-.528l-7.8-7.725a.75.75 0 1 0-1.056 1.066l7.267 7.197-7.272 7.343a.75.75 0 0 0 1.066 1.055l7.8-7.876a.75.75 0 0 0 .217-.531" clip-rule="evenodd"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="main-22">
                                                    <div class="main-23">
                                                        <input type="checkbox" id=":ri:" class="main-24" value="">
                                                        <label for=":ri:" class="main-25">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#693BF2" class="checked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4zm11.53 7.138a.97.97 0 1 0-1.46-1.276l-5.428 6.208-2.147-2.212a.97.97 0 1 0-1.39 1.35l2.879 2.967a.97.97 0 0 0 1.425-.037z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#AAB4BF" class="unchecked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M18 3.5H6A2.5 2.5 0 0 0 3.5 6v12A2.5 2.5 0 0 0 6 20.5h12a2.5 2.5 0 0 0 2.5-2.5V6A2.5 2.5 0 0 0 18 3.5M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <div class="main-26">
                                                                <span class="main-27">개인정보 마케팅 활용 동의 (선택)</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <a target="_blank" class="main-28" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" color="#6A7685">
                                                            <path fill="currentColor" fill-rule="evenodd" d="M17.3 11.92a.75.75 0 0 0-.222-.528l-7.8-7.725a.75.75 0 1 0-1.056 1.066l7.267 7.197-7.272 7.343a.75.75 0 0 0 1.066 1.055l7.8-7.876a.75.75 0 0 0 .217-.531" clip-rule="evenodd"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="main-22">
                                                    <div class="main-23">
                                                        <input type="checkbox" id=":rj:" class="main-24" value="">
                                                        <label for=":rj:" class="main-25">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#693BF2" class="checked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4zm11.53 7.138a.97.97 0 1 0-1.46-1.276l-5.428 6.208-2.147-2.212a.97.97 0 1 0-1.39 1.35l2.879 2.967a.97.97 0 0 0 1.425-.037z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" color="#AAB4BF" class="unchecked">
                                                                <path fill="currentColor" fill-rule="evenodd" d="M18 3.5H6A2.5 2.5 0 0 0 3.5 6v12A2.5 2.5 0 0 0 6 20.5h12a2.5 2.5 0 0 0 2.5-2.5V6A2.5 2.5 0 0 0 18 3.5M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <div class="main-26">
                                                                <span class="main-27">마케팅 알림 수신 동의 (선택)</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <a target="_blank" class="main-28" href="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" color="#6A7685">
                                                            <path fill="currentColor" fill-rule="evenodd" d="M17.3 11.92a.75.75 0 0 0-.222-.528l-7.8-7.725a.75.75 0 1 0-1.056 1.066l7.267 7.197-7.272 7.343a.75.75 0 0 0 1.066 1.055l7.8-7.876a.75.75 0 0 0 .217-.531" clip-rule="evenodd"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main-29">
                                            <button type="submit" disabled="" class="main-30">
                                                <span class="main-31">
                                                    <span class="main-32">확인</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-7">
                                <div class="main-33">
                                    <div class="main-34">
                                        <div class="main-35">
                                            <!-- 약관 동의창에 있는 버튼 -->
                                            <button type="button" class="main-36">
                                                <span class="main-31">
                                                    <span class="main-32">이전</span>
                                                </span>
                                            </button>
                                            <button type="button" disabled="" class="main-37">
                                                <span class="main-31">
                                                    <span class="main-32">다음</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-8">
                                <div class="main-38">
                                    <button type="button" class="main-39">
                                        <span class="main-31">
                                            <span class="main-32">이전</span>
                                        </span>
                                    </button>
                                    <button type="button" disabled="" class="main-30">
                                        <span class="main-31">
                                            <span class="main-32">다음</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="/js/member/join-user.js"></script>
</html>