<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link data-vue-meta="1" rel="shortcut icon" href="/images/member/icon.png">
    <link rel="stylesheet" href="/css/member/new-fassword.css">
    
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">

    

</head>
<body>
    <main class="main">
        <div class="main-1">
            <h1 class="main-2">비밀번호 변경</h1>
            <form class="main-3">
                <div class="main-4">
                    <div>
                        <!-- 
                        기본
                        <div class="css-0">
                            <label for="password" class="main-6">기존 비밀번호</label>
                            <div class="main-7">
                                <input id="password" class="main-8" placeholder="현재 비밀번호를 입력해주세요" name="password" type="password" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" value="">
                            </div>
                        </div> 
                        -->
                        <div class="css-0">
                            <label for="password" class="main-6">기존 비밀번호</label>
                            <div class="main-7">
                                <input id="password" class="main-8-1" placeholder="현재 비밀번호를 입력해주세요" name="password" type="password" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" value="">
                            </div>
                            <div class="main-8-2">
                                <p data-testid="password-error" class="main-8-3">비밀번호를 입력해 주세요.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="css-0">
                            <label for="newPassword" class="main-6">새로운 비밀번호</label>
                            <div class="main-7">
                                <input id="newPassword" class="main-8" placeholder="비밀번호를 입력해 주세요." maxlength="30" name="newPassword" type="password" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" value="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="css-0">
                            <label for="newPasswordConfirm" class="main-6">새로운 비밀번호 확인</label>
                            <div class="main-7">
                                <input id="newPasswordConfirm" class="main-8" placeholder="비밀번호를 한번 더 입력해주세요" maxlength="30" name="newPasswordConfirm" type="password" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-5">
                    <button type="button" class="main-9">취소</button>
                    <button type="submit" class="main-10">변경 완료</button>
                </div>
            </form>
        </div>
    </main>  
</body>
<script src="/js/member/new-fassword.js"></script>
</html>