<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${notice.noticeTitle}"></title>
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/font/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/font/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/font/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/font/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/font/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/font/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/font/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/font/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">
    <link rel="stylesheet" href="/css/customer-center/notice-details.css">
    <link rel="stylesheet" href="/css/main-page/header.css">
    <link rel="stylesheet" href="/css/main-page/header2.css">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <body class="body-div">
        <th:block th:if="${session.member != null}">
            <header th:replace="~{/main-page/header2.html :: #app-header}"></header>
        </th:block>
        <th:block th:unless="${session.member !=null}">
            <header th:replace="~{/main-page/header.html :: #app-header}"></header>
        </th:block>
        <main role="main">
            <div class="container-divider"></div>
            <div class="container">
                <nav class="sub-nav">
                    <ol class="breadcrumbs">
                        <li><a href="">공지사항 - 리바운드</a></li>
                    </ol>
                    <form action="" role="search" class="search">
                        <input type="hidden" name="utf8">
                        <div id="search-status" class="sr-only"></div>
                        <zd-autocomplete-announcement id="28b16f3c-a43b-4a72-93cd-e85153b1a6e7" aria-live="polite" role="listbox"></zd-autocomplete-announcement>
                        <input type="search" name="query" id="query" placeholder="검색" aria-label="Search" aria-autocomplete="both" aria-expanded="false" role="combobox" aria-owns="28b16f3c-a43b-4a72-93cd-e85153b1a6e7">
                    </form>
                </nav>
                <div class="article-container" id="article-container">
                    <section class="article-sidebar">
                        <section class="section-articles collapsible-sidebar">
                            <h3 class="collapsible-sidebar-title sidenav-title">최근 공지사항</h3>
                            <ul id="notices">
                            </ul>
                        </section>
                    </section>
                    <article class="article">
                        <header class="article-header">
                            <h1 class="article-title" th:text="${notice.noticeTitle}"></h1>
                        </header>
                        <section class="article-info">
                            <div class="article-content">
                                <div class="article-body">
                                    <p>
                                        <span style="color: #363a3c; background-color: #ffffff;" th:text="${notice.noticeContent}"></span>
                                    </p>
                                </div>
                            </div>
                        </section>
                        <footer>
                            <div class="article-votes">
                                <div class="article-votes-controls">
                                    <a id="pre" class="button article-vote article-vote-up" role="radio">이전</a>
                                    <a id="next" class="button article-vote article-vote-down" role="radio">다음</a>
                                </div>
                            </div>
                            <div class="article-more-questions">또 다른 질문이 있으십니까?
                                <a onclick="window.location.href='/customer-center/inquiry'">문의 등록</a>
                                <textarea id="test"></textarea>
                            </div>
                            <div class="article-return-to-top">
                                <a href="">
                                    맨 위로 돌아가기
                                    <span class="icon-arrow-up"></span>
                                </a>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>
        </main>
        <footer th:replace="~{/main-page/footer.html}"></footer>
    </body>
</body>
<script th:inline="javascript">
    const member = [[${session.member}]]
    const commentAlarms = [[${commentAlarms}]];
</script>
<script src="/js/customer-center/notice-detail/module/service.js"></script>
<script src="/js/customer-center/notice-detail/module/layout.js"></script>
<script src="/js/customer-center/notice-detail/event.js"></script>
<script src="/js/main-page/header2.js"></script>
</html>