<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리바운드 커뮤니티가 뭔가요?</title>
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">
    <link rel="stylesheet" href="/css/customer-center/questions-detail.css">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <body class="body-div">
        <main role="main">
            <div class="container-divider"></div>
            <div class="container">
                <nav class="sub-nav">
                    <ol class="breadcrumbs">
                        <li><a href="">자주 묻는 질문 - 리바운드</a></li>
                    </ol>
                    <form action="" role="search" class="search">
                        <input type="hidden" name="utf8">
                        <div id="search-status" class="sr-only"></div>
                        <zd-autocomplete-announcement id="28b16f3c-a43b-4a72-93cd-e85153b1a6e7" aria-live="polite" role="listbox"></zd-autocomplete-announcement>
                        <input type="search" name="query" id="query" placeholder="검색" aria-label="Search" aria-autocomplete="both" aria-expanded="false" role="combobox" aria-owns="28b16f3c-a43b-4a72-93cd-e85153b1a6e7">
                    </form>
                </nav>
                <div class="article-container" id="article-container">
                    <section class="article-sidebar">
                        <section class="section-articles collapsible-sidebar">
                            <h3 class="collapsible-sidebar-title sidenav-title">이 페이지의 문서</h3>
                            <ul>
                                <li>
                                <a href="" class="sidenav-item current-article">리바운드 커뮤니티가 뭔가요?</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">리바운드 커뮤니티 가이드라인</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">리바운드 커뮤니티의 주제/카테고리 내용이 궁금해요.</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">어떤 경우에 커뮤니티에 작성한 게시글/댓글이 신고 당하나요?</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">커뮤니티에 작성한 게시글/댓글이 신고 당했습니다. 어떻게 해야하나요?</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">커뮤니티에 작성한 게시글/댓글이 신고 당하면 어떤 조치가 가해지나요?</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">부적절한 게시글/댓글을 발견했어요. 어떻게 신고하나요?</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">커뮤니티 게시글을 공유하고 싶어요.</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">커뮤니티에 작성한 게시글/댓글을 수정/삭제하고 싶어요.</a>
                                </li>
                            
                                <li>
                                <a href="" class="sidenav-item ">커뮤니티에 작성한 게시글/댓글은 어떻게 확인하나요?</a>
                                </li>
                            
                            </ul>
                        </section>
                    </section>
                    <article class="article">
                        <header class="article-header">
                            <h1 class="article-title">리바운드 커뮤니티가 뭔가요?</h1>
                        </header>
                        <section class="article-info">
                            <div class="article-body"><p><span style="font-weight: 400;">리바운드는 도움이 필요한 서로를 연결하는 플랫폼입니다. 일상 속 숨은 문제를 해결하고, 생활을 더 가치 있게 만들기 위해 노력하고 있습니다.&nbsp;</span></p>
                                <p>&nbsp;</p>
                                <p><span style="font-weight: 400;">그래서 리바운드는 서로가 함께 다양한 이야기를 나눌 수 있도록 커뮤니티 공간을 만들었습니다.&nbsp;</span></p>
                                <p>&nbsp;</p>
                                <p><strong>[커뮤니티]&nbsp;</strong></p>
                                <p><span style="font-weight: 400;">실패 경험담부터 극복 방법까지 모든 정보와 질문을 자유롭게 나누는 공간입니다.&nbsp;</span></p>
                                <p>&nbsp;</p>
                                <p><strong><a href="" target="_self">🔗<span style="color: #693bf2; background-color: #ffffff;">커뮤니티 바로가기</span></a></strong></p>
                                <p>&nbsp;</p>
                                <p><strong>[오늘의 좋은 말]&nbsp;</strong></p>
                                <p><span style="font-weight: 400;">읽으면 도움이 되는 글을 전문 상담사가 직접 써서 올리는 공간입니다.&nbsp;</span></p>
                                <p>&nbsp;</p>
                                <p><a href="" target="_self"><strong>🔗<span style="color: #693bf2; background-color: #ffffff;">오늘의 좋은 말 바로가기</span></strong></a></p></div>
                        </section>
                        <footer>
                            <div class="article-votes">
                                <span class="article-votes-question">도움이 되었습니까?</span>
                                <div class="article-votes-controls">
                                    <a class="button article-vote article-vote-up" role="radio" href="">예</a>
                                    <a class="button article-vote article-vote-down" role="radio" href="">아니오</a>
                                </div>
                                <small class="article-votes-count">
                                    <span class="article-vote-label">0명 중 0명이 도움이 되었다고 했습니다.</span>
                                </small>
                            </div>
                            <div class="article-more-questions">또 다른 질문이 있으십니까?
                                <a href="">문의 등록</a>
                            </div>
                            <div class="article-return-to-top">
                                <a href="">
                                    맨 위로 돌아가기
                                    <span class="icon-arrow-up"></span>
                                </a>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>
        </main>
    </body>
</body>
<script src="/js/customer-center/gongji-details.js"></script>
</html>