<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 결과 - 리바운드</title>
    <link rel="stylesheet" href="/css/customer-center/search.css">
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <main role="main">
    <div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    <ol class="breadcrumbs">
  
    <li title="검색 결과 - 리바운드">
      
        <a href="/hc/ko">검색 결과 - 리바운드</a>
      
    </li>
  
    <li title="검색 결과">
      
        검색 결과
      
    </li>
  
</ol>

    <form role="search" class="search"><input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" value="리바운드" placeholder="검색"></form>
  </nav>

  <header class="page-header">
    <h1>검색 결과</h1>
    <p class="page-header-description">"리바운드"에 대한 234개의 결과</p>
  </header>

  <div class="search-results">
    <section class="search-results-column">
      <h3 class="search-results-subheading">
        검색 결과
      </h3>
      
        <ul class="search-results-list">
          
            <li class="search-result">
              <a href="" class="search-result-link">리바운드는 어떤 서비스인가요?</a>
              
                <span class="search-result-votes meta-count">90</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="자주 묻는 질문"><a href="">자주 묻는 질문</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description">변화를 경험해보세요. 상담사는, <em>리바운드</em>에서 나에게 딱 맞는 고객을 더 많이 만날 수 있어요. <em>리바운드</em>와 함께 비즈니스 성장을 만들어 보세요. 고객이란? <em>리바운드</em>를 통해 상담사로부터 원하는 생활 서비스를</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">구독 서비스의 혜택이 무엇인가요?</a>
              
                <span class="search-result-votes meta-count">7</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="자주 묻는 질문"><a href="">자주 묻는 질문</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description"><em>리바운드</em>에서는 구독을 통해 상담료 10% 할인 서비스를 제공하고 있습니다. <em>리바운드</em> 커뮤니티의 활동이 왕성하여 추천 수가 일정 수준 이상 도달한 경우 멘토라는 자격을 얻게 되어 구독과 같은</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">리바운드는 어떤 서비스인가요?</a>
              
                <span class="search-result-votes meta-count">90</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="자주 묻는 질문"><a href="">자주 묻는 질문</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description">변화를 경험해보세요. 상담사는, <em>리바운드</em>에서 나에게 딱 맞는 고객을 더 많이 만날 수 있어요. <em>리바운드</em>와 함께 비즈니스 성장을 만들어 보세요. 고객이란? <em>리바운드</em>를 통해 상담사로부터 원하는 생활 서비스를</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">상담사 선별 기준은 무엇인가요?</a>
              
                <span class="search-result-votes meta-count">18</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="자주 묻는 질문"><a href="">자주 묻는 질문</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description">상담사 회원으로 회원가입 진행 시 <em>리바운드</em> 내부의 심사(자격증 소지 여부 등)를 통해 관리자가 직접 승인을 하는 방식으로 운영되고 있습니다.</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">오늘의 좋은 말은 상담사만 올릴 수 있나요?</a>
              
                <span class="search-result-votes meta-count">6</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="자주 묻는 질문"><a href="">자주 묻는 질문</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description">오늘의 좋은 말 탭에는 <em>리바운드</em>가 직접 승인한 상담사만이 글을 올릴 수 있습니다. 혼선을 방지하기 위함이니 양해 부탁드립니다.</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">상담료를 지불할 때 수수료가 발생하나요?</a>
              
                <span class="search-result-votes meta-count">6</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="자주 묻는 질문"><a href="">자주 묻는 질문</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description"><em>리바운드</em>를 통해 상담사와 연결될 때 소정의 수수료가 발생하나 사이트 내 명시된 상담료에 이미 수수료가 더해져있기 때문에 추가적으로 수수료를 납부하실 필요는 없습니다.</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">멘토를 찾습니다!</a>
              
                <span class="search-result-votes meta-count">53</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="공지사항"><a href="">공지사항</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description">커뮤니티 탭에서 열렬히 활동해 주시는 고객님께선 구독 서비스를 무료로 이용할 수 있는 '멘토' 자격이 주어집니다. <em>리바운드</em> 내에서 상담료 할인 등의 여러 기능을</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">아이폰에서 지불한 상담료를 환불하고 싶어요.</a>
              
                <span class="search-result-votes meta-count">0</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="자주 묻는 질문"><a href="">자주 묻는 질문</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description">■ 애플 고객지원 - https://support.apple.com/ko-kr 자세한 사항은 <em>리바운드</em> 이용약관을 참고해 주세요.</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">리바운드의 새로운 변화, 이렇게 시작합니다. </a>
              
                <span class="search-result-votes meta-count">90</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="공지사항"><a href="">공지사항</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>1년 전</time></li>
              </ul>
              <div class="search-result-description">2025년, 새로운 변화를 시작합니다. 모두의 더 나은 일상으로 2025년부터 리바운드는 상담사와 그들의 도움을 필요로 하는 고객을 연결하고 있습니다. 직장, 인간관계, 연애 등 생활에서</div>
            </li>
          
            <li class="search-result">
              <a href="" class="search-result-link">리바운드에서 상담사를 만나려면 어떻게 해야 하나요?</a>
              
                <span class="search-result-votes meta-count">90</span>
              
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    
                      <li title="자주 묻는 질문"><a href="">자주 묻는 질문</a></li>
                    
                  </ol>
                </li>
                <li class="meta-data">
                  
                    관리자
                  
                </li>
                <li class="meta-data"><time>5년 전</time></li>
              </ul>
              <div class="search-result-description">고객님께서 <em>리바운드</em>에서 나에게 딱 맞는 상담사를 찾는 방법은 세 가지가 있습니다. 1. 상담 신청 탭 참조 상담 신청 탭에는 여러 상담사의 프로필과 추천 수 등이 나타나 있습니</div>
            </li>
          
        </ul>
      
    </section>

    

  </div>

  
<nav class="pagination">
  <ul>
    

    
      
        <li class="pagination-current">
          <a href="">1</a>
        </li>
      
    
      
        <li class="nofollow">
          <a href="">2</a>
        </li>
      
    
      
        <li class="nofollow">
          <a href="">3</a>
        </li>
      
    
      
        <li class="nofollow">
          <a href="">4</a>
        </li>
      
    
      
        <li class="nofollow">
          <a href="">5</a>
        </li>
      
    
      
        <li class="nofollow">
          <a href="">6</a>
        </li>
      
    

    
      <li class="nofollow pagination-next">
        <a href="">›</a>
      </li>

      <li class="nofollow pagination-last">
        <a href="">»</a>
      </li>
    
  </ul>
</nav>


</div>

  </main>
</body>
<script src="/js/customer-center/search.js"></script>
</html>