<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="stylesheet" href="/css/main-page/header.css">
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">
</head>
<body>
        <header id="app-header" class="global-header hide-border-bottom">
            <div class="global-navigation-bar">
                <section class="d-none d-lg-block d-xl-block">
                    <div class="desktop-header">
                        <div class="left-section">
                            <div class="logo">
                                <a href=".">
                                    <img src="/images/logo.png" alt="리바운드">
                                </a>
                            </div>
                            <nav>
                                <ul class="nav-list">
                                    <li class="nav-item left-section-item">
                                        <a href="" class="gnb-link">
                                            <span class="prisma-typography body16:semibold primary">
                                                커뮤니티
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item left-section-item">
                                        <a href="" class="gnb-link">
                                            <span class="prisma-typography body16:semibold primary">
                                                상담하기
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item left-section-item">
                                        <a href="" class="gnb-link">
                                            <span class="prisma-typography body16:semibold primary">
                                                오늘의 좋은 말
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item left-section-item">
                                        <a href="" class="gnb-link">
                                            <span class="prisma-typography body16:semibold primary">
                                                공지사항
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="center-section">
                            <div class="service-searcher-desktop service-search-container is-located-gnb">
                                <form class="global-search-bar" style="display: none;">
                                    <div role="group" class="input-group">
                                        <div class="input-group-prepend">
                                            <img src="data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20fill='none'%20fill-rule='evenodd'%3e%3cpath%20d='M0%200h24v24H0z'/%3e%3cg%20transform='translate(4%204)'%20stroke='%23B5B5B5'%20stroke-width='1.6'%3e%3ccircle%20stroke-linejoin='round'%20cx='6.5'%20cy='6.5'%20r='6.5'/%3e%3cpath%20stroke-linecap='round'%20d='m11.5%2011.5%205%205'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e" alt="검색 아이콘">
                                        </div>
                                        <!-- 검색 엔진 -->
                                        <input type="text" placeholder="커뮤니티 바로 검색" class="form-control">
                                        <div class="input-group-append">
                                            <img src="data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20fill='none'%20fill-rule='evenodd'%3e%3cpath%20d='M0%200h24v24H0z'/%3e%3cg%20transform='translate(3%203)'%3e%3ccircle%20fill='%23C5C5C5'%20cx='9'%20cy='9'%20r='9'/%3e%3cpath%20stroke='%23FFF'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'%20d='m6%206%206.005%206.006M12.005%206%206%2012.006'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e" style="display: none;" alt="검색어 삭제 아이콘">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="right-section">
                            <nav>
                                <ul class="nav-list">
                                    <li class="nav-item right-section-item">
                                        <a href="" class="gnb-link">
                                            <span class="prisma-typography body14:medium primary">
                                                로그인 / 회원가입
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <button class="btn pro-signup-btn right-section-item btn-primary">
                                고객센터
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </header>
</body>
<script src="/js/main-page/header.js"></script>
</html>