<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link data-vue-meta="1" rel="shortcut icon" href="../../static/images/member/icon.png">
    
    <link rel="stylesheet" href="../../static/font/didactgothic.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-greek-700-normal-50e795c1345353b0e996.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2">
    <link rel="stylesheet" href="../../static/fonts/admin-login-fonts/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2">

    <link rel="stylesheet" href="../../static/css/community-list/failure-write.css">
    <title>실패 경험담 작성</title>
</head>
<body class="post-write hide-mobile-global-header">
    <div id="app">
        <div id="app-body">
            <div class="community-container container">
                <div class="soomgo-life-container">
                    <section class="write-post-container">
                        <div class="select-subject-header">
                            <div class="subject-header-wrapper">
                                <img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='18'%20height='18'%20viewBox='0%200%2018%2018'%3e%3cg%20fill='none'%20fill-rule='evenodd'%3e%3cg%20fill='%231C242F'%20fill-rule='nonzero'%3e%3cg%3e%3cg%3e%3cpath%20d='M16.43.43l1.131%201.131-7.434%207.435%207.434%207.434-1.131%201.131-7.435-7.434-7.434%207.434L.43%2016.43l7.434-7.434L.43%201.561%201.561.43l7.434%207.434L16.43.43z'%20transform='translate(-337%20-114)%20translate(0%2094)%20translate(337%2020)'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e" alt="뒤로 가기" class="back-button">
                                <div class="post-subject-select-box custom-select" id="__BVID__673">
                                    <span class="prisma-typography body16:medium primary"> 실패 경험담 작성 </span>
                                </div>
                                <button type="button" disabled="disabled" class="btn btn-secondary disabled write-post-submit">등록</button>
                            </div>
                        </div>
                        <div class="editor-body-container is-bottom-margin">
                            <div class="editor-body-wrapper">
                                <div class="editor-title-wrapper">
                                    <div class="editor-title-container">
                                        <label for="post-title-input" class="editor-title-label">
                                            <input id="post-title-input" type="text" placeholder="제목을 입력해주세요." class="post-title-input">
                                        </label>
                                    </div>
                                </div>
                                <div class="divider-wrapper">
                                    <hr class="hr-divider">
                                </div>
                                <div class="editor-contents">
                                    <span class="prisma-typography body14:regular primary">
                                        <textarea name="post-content" class="editor-contents-textarea"></textarea>
                                    </span>
                                    <span class="editor-contents-textarea-placeholder prisma-typography body14:regular tertiary"> 과외 친구, 공동구매 그룹, 취미활동까지 함께 할 사람을 찾아보세요.

예) 게임을 좋아하는 분 누구나! 게임 취미활동 멤버 구해요.
예) 미용 봉사를 함께 진행할 분들을 찾습니다.

※ 주제에 맞지 않는 글이나 커뮤니티 이용정책에 위배되는 글은 신고의 대상이 됩니다.
※ 일정 수 이상의 신고를 받으면 작성한 글이 숨김 및 삭제될 수 있습니다. </span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/community-list/failure-write.js"></script>
</html>