<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.CategoryMapper">
    <select id="selectAllCategories">
        select id, category_name, created_datetime, updated_datetime
        from tbl_category
        order by id
    </select>
</mapper>