<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.CommunityListMapper">
    <insert id="insertCommunityPost" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_post (post_title, post_content, member_id, category_id)
        values (#{postTitle}, #{postContent}, #{memberId}, #{categoryId})
    </insert>

    <select id="selectCommunityPostWriter">
        select m.member_name, c.category_name, p.category_id, p.id, p.post_title, p.post_content, p.post_read_count,
               p.post_status, p.member_id, p.created_date, p.updated_date
        from tbl_member m
                join tbl_post p on m.id = p.member_id
                join tbl_category c on p.category_id = c.id
        where p.id = #{id} and p.post_status = 'active'
    </select>

    <update id="updatePostReadCount">
        update tbl_post
        set post_read_count = post_read_count + 1
        where id = #{id}
    </update>

    <select id="selectAll">
        select m.member_name, c.category_name, p.category_id, p.id, p.post_title, p.post_content, p.post_read_count,
               p.post_status, p.member_id, p.created_date, p.updated_date
        from tbl_member m
                 join tbl_post p on m.id = p.member_id
                 join tbl_category c on p.category_id = c.id
        where p.post_status = 'active'
        order by p.created_date desc
        limit #{count} offset #{offset}
    </select>

    <select id="selectCountAll">
        SELECT COUNT(*) FROM tbl_post WHERE post_status = 'active'
    </select>

    <update id="updateCommunityPost">
        update tbl_post
        set
            post_title = #{postTitle},
            post_content = #{postContent},
            category_id = #{categoryId},
            updated_date = NOW()
        where id = #{id}
    </update>

    <update id="deleteCommunityPost">
        update tbl_post
        set post_status = 'inactive'
        where id = #{id}
    </update>

    <select id="selectAllByViews">
        select id, post_title, post_content, post_read_count, post_status, member_id, category_id, created_date, updated_date
        from tbl_post
        where post_status = 'active'
        order by post_read_count desc
        limit 6
    </select>

    <select id="selectAllByKeyword">
        select p.post_title, p.post_content, p.created_date
        from tbl_member m join tbl_post p
        on m.id = p.member_id
        where p.post_status = 'active'
           and (m.member_email like concat('%', #{keyword}, '%') or m.member_Name like concat('%', #{keyword}, '%'))
        order by p.created_date desc
    </select>

    <select id="selectCountAllByKeyword">
        select count(*)
        from tbl_member m join tbl_post p
        on m.id = p.member_id
        where p.post_status = 'active'
            and (m.member_email like concat('%', #{keyword}, '%') or m.member_Name like concat('%', #{keyword}, '%'))

    </select>
</mapper>