<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.CounselorMapper">
    <!--    상담사 회원 추가-->
    <insert id="insertCounselor" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_counselor (counselor_name, counselor_phone_number, counselor_email, counselor_password)
        values (#{counselorName}, #{counselorPhoneNumber}, #{counselorEmail}, #{counselorPassword})
    </insert>
<!--    상담사 조회-->
    <select id="selectCounselor">
        select id, counselor_name, counselor_email, counselor_phone_number, counselor_password, counselor_address, counselor_status, counselor_approval_status, created_date, updated_date from tbl_counselor
        where counselor_status='active' and counselor_email=#{counselorEmail} and counselor_password=#{counselorPassword}
    </select>
    <select id="selectCounselorById">
        select id, counselor_name, counselor_email, counselor_phone_number, counselor_password, counselor_address, counselor_status, counselor_approval_status, created_date, updated_date
        from tbl_counselor
        where id=#{id}
    </select>
<!--    상담사 조회(통합검색)-->
    <select id="selectCounselorAll">
        select id, counselor_name, counselor_email, counselor_phone_number, counselor_password, counselor_address, counselor_status, counselor_approval_status,counselor_license_name, created_date, updated_date from tbl_counselor
        where counselor_status = 'active' and counselor_approval_status = 'approval'
        <if test="keyword != null">
            and (
            counselor_name like concat('%', #{keyword}, '%') or
            counselor_email like concat('%', #{keyword}, '%')or
            id like concat('%', #{keyword}, '%')
            )
        </if>
        order by id desc
        limit #{memberCriteria.rowCount} offset #{memberCriteria.offset}
    </select>
    <select id="selectCounselorAllCount">
        select count(*) from tbl_counselor
        where counselor_status = 'active' and counselor_approval_status = 'approval'
        <if test="keyword != null">
            and (
            counselor_name like concat('%', #{keyword}, '%') or
            counselor_email like concat('%', #{keyword}, '%')or
            id like concat('%', #{keyword}, '%')
            )
        </if>
    </select>
    <!--    상담사 자격증 승인 여부-->
    <select id="selectCounselorQualificationAll">
        select id, counselor_name, counselor_email, counselor_phone_number, counselor_password, counselor_address, counselor_status, counselor_approval_status,counselor_license_name, created_date, updated_date from tbl_counselor
        where counselor_status = 'active'
        <if test="keyword != null">
            and (
            counselor_name like concat('%', #{keyword}, '%') or
            counselor_email like concat('%', #{keyword}, '%')or
            id like concat('%', #{keyword}, '%')
            )
        </if>
        order by id desc
        limit #{memberCriteria.rowCount} offset #{memberCriteria.offset}
    </select>
    <select id="selectCounselorQualificationAllCount">
        select count(*) from tbl_counselor
        where counselor_status = 'active' and counselor_approval_status = 'approval'
        <if test="keyword != null">
            and (
            counselor_name like concat('%', #{keyword}, '%') or
            counselor_email like concat('%', #{keyword}, '%')or
            id like concat('%', #{keyword}, '%')
            )
        </if>
    </select>
<!--    상담사 이름 변경-->
    <update id="updateCounselorName">
        update tbl_counselor set counselor_name=#{counselorName}
        where id=#{id}
    </update>
    <!--    상담사 전화번호 변경-->
    <update id="updateCounselorPhoneNumber">
        update tbl_counselor set counselor_phone_number=#{counselorPhoneNumber}
        where id=#{id}
    </update>
<!--    상담사 이메일 변경-->
    <update id="updateCounselorEmail">
        update tbl_counselor set counselor_email=#{counselorEmail}
        where id=#{id}
    </update>
    <!-- 상담사 비밀번호 변경 -->
    <update id="updateCounselorPassword">
        update tbl_counselor
        set counselor_password = #{counselorPassword}
        where counselor_email = #{counselorEmail}
    </update>

    <!-- 상담사 이메일 찾기 -->
    <select id="selectEmailByPhoneNumber">
        select counselor_email, created_date, counselor_phone_number
        from tbl_counselor
        where counselor_phone_number = #{counselorPhoneNumber}
    </select>

    <update id="updateLatelyDate">
        update tbl_counselor
        set lately_date = CURRENT_TIMESTAMP
        where counselor_email = #{counselorEmail}
    </update>
</mapper>