<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.CounselorMapper">
    <!--    상담사 회원 추가-->
    <insert id="insertCounselor" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_counselor (counselor_name, counselor_phone_number, counselor_email, counselor_password)
        values (#{counselorName}, #{counselorPhoneNumber}, #{counselorEmail}, #{counselorPassword})
    </insert>
<!--    상담사 조회-->
    <select id="selectCounselor">
        select id, counselor_name, counselor_email, counselor_phone_number, counselor_password, counselor_address, counselor_status, counselor_approval_status, created_date, updated_date from tbl_counselor
        where counselor_status='active' and counselor_email=#{counselorEmail} and counselor_password=#{counselorPassword}
    </select>
</mapper>