<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.FileMapper">
<!--    파일 추가-->
    <insert id="insertFile" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_file (file_path, file_name, file_original_name, file_size, file_content_type)
        values (#{filePath}, #{fileName}, #{fileOriginalName}, #{fileSize}, #{fileContentType})
    </insert>
<!--    파일 조회-->
    <select id="selectFileById">
        select id, file_path, file_name, file_size, created_date, updated_date, file_original_name, file_content_type
        from tbl_file
        where id=#{id}
    </select>
    <select id="selectFileByMemberId" parameterType="long" resultType="com.example.rebound.dto.FileDTO">
        select f.id, mpf.member_id, f.file_path, f.file_name, f.file_size, f.created_date, f.updated_date, f.file_original_name, f.file_content_type, m.kakao_profile_url
        from tbl_member_profile_file mpf
        join tbl_file f on mpf.id = f.id
        join tbl_member m on mpf.member_id = m.id
        where member_id = #{memberId}
        limit 1
    </select>
    <select id="selectFileByCounselorId" parameterType="long" resultType="com.example.rebound.dto.FileDTO">
        select f.id, cp.counselor_id, f.file_path, f.file_name, f.file_size, f.created_date, f.updated_date, f.file_original_name, f.file_content_type
        from tbl_counselor_profile_file cp
        join tbl_file f
        where counselor_id=#{counselorId} and f.id=cp.id
    </select>
<!--    파일 삭제-->
    <delete id="deleteFileById">
        delete from tbl_file
        where id=#{id}
    </delete>
</mapper>