<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.MemberMapper">
    <insert id="insertMember">
        insert into tbl_member (member_name, member_phone_number, member_email, member_password)
        values (#{memberName}, #{memberPhoneNumber}, #{memberEmail}, #{memberPassword})
    </insert>
</mapper>