<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.MemberProfileFileMapper">
<!--    파일 추가-->
    <insert id="insertMemberProfileFile">
        INSERT INTO tbl_member_profile_file (id, member_id)
        VALUES (#{id}, #{memberId})
    </insert>
<!--    파일 조회-->
    <select id="selectMemberProfileFileByMemberId">
        select f.id, mp.member_id, f.file_path, f.file_name, f.file_size, f.created_date, f.updated_date, f.file_original_name, f.file_content_type
        from tbl_member_profile_file mp
        join tbl_file f
        where f.id=mp.id and mp.member_id=#{id}
    </select>
<!--    파일 삭제-->
    <delete id="deleteProfileById">
        delete from tbl_member_profile_file
        where id=#{id}
    </delete>
</mapper>