<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.MemberMapper">
<!--    일반 회원 추가-->
    <insert id="insertMember">
        insert into tbl_member (member_name, member_phone_number, member_email, member_password)
        values (#{memberName}, #{memberPhoneNumber}, #{memberEmail}, #{memberPassword})
    </insert>
<!--    관리자 회원 조회-->
    <select id="selectAdmin">
        select id, member_name, member_email, kakao_email, member_provider, member_phone_number, member_password, member_suggestion_count, kakao_profile_url, member_mentor, member_status, member_common, created_date, updated_date from tbl_member
        where member_common = 'admin'and member_status='active' and member_email=#{memberEmail} and member_password=#{memberPassword}
    </select>
    <select id="selectGeneralAll">
        select id, member_name, member_email, kakao_email, member_provider, member_phone_number, member_password, member_suggestion_count, kakao_profile_url, member_mentor, member_status, member_common, created_date, updated_date from tbl_member
        where member_status = 'active' and member_mentor = 'none' and member_common='none'
        <if test="keyword != null">
            and (
            member_name like concat('%', #{keyword}, '%') or
            member_email like concat('%', #{keyword}, '%')
            )
        </if>
        order by id desc
        limit #{memberCriteria.rowCount} offset #{memberCriteria.offset}
    </select>
    <select id="selectGeneralAllCount">
        select count(*) from tbl_member
        where member_status = 'active' and member_mentor = 'none' and member_common='none'
        <if test="keyword != null">
            and (
            member_name like concat('%', #{keyword}, '%') or
            member_email like concat('%', #{keyword}, '%')
            )
        </if>
    </select>
    <select id="selectMentorAll">
        select id, member_name, member_email, kakao_email, member_provider, member_phone_number, member_password, member_suggestion_count, kakao_profile_url, member_mentor, member_status, member_common, created_date, updated_date from tbl_member
        where member_status = 'active' and member_mentor = 'mentor' and member_common='none'
        <if test="keyword != null">
            and (
            member_name like concat('%', #{keyword}, '%') or
            member_email like concat('%', #{keyword}, '%')
            )
        </if>
        order by id desc
        limit #{memberCriteria.rowCount} offset #{memberCriteria.offset}
    </select>
    <select id="selectMentorAllCount">
        select count(*) from tbl_member
        where member_status = 'active' and member_mentor = 'mentor' and member_common='none'
        <if test="keyword != null">
            and (
            member_name like concat('%', #{keyword}, '%') or
            member_email like concat('%', #{keyword}, '%')
            )
        </if>
    </select>
    <select id="selectSubscribeAll">
        select id, member_name, member_email, kakao_email, member_provider, member_phone_number, member_password, member_suggestion_count, kakao_profile_url, member_mentor, member_status, member_common, created_date, updated_date from tbl_member
        where member_status = 'active' and member_mentor = 'subscribe' and member_common='none'
        <if test="keyword != null">
            and (
            member_name like concat('%', #{keyword}, '%') or
            member_email like concat('%', #{keyword}, '%')
            )
        </if>
        order by id desc
        limit #{memberCriteria.rowCount} offset #{memberCriteria.offset}
    </select>
    <select id="selectSubscribeAllCount">
        select count(*) from tbl_member
        where member_status = 'active' and member_mentor = 'subscribe' and member_common='none'
        <if test="keyword != null">
            and (
            member_name like concat('%', #{keyword}, '%') or
            member_email like concat('%', #{keyword}, '%')
            )
        </if>
    </select>
<!--    일반 회원 조회-->
    <select id="selectMember">
        select id, member_name, member_email, kakao_email, member_provider, member_phone_number, member_password, member_suggestion_count, kakao_profile_url, member_mentor, member_status, member_common, created_date, updated_date from tbl_member
        where member_common='none' and member_status='active' and member_email=#{memberEmail} and member_password=#{memberPassword}
    </select>
<!--    카카오 중복조회-->
    <select id="selectMemberByKakaoEmail">
        select id, member_name, member_email, kakao_email, member_provider, member_phone_number, member_password, member_suggestion_count, kakao_profile_url, member_mentor, member_status, member_common, created_date, updated_date
        from tbl_member
        where kakao_email=#{kakaoEmail}
    </select>
<!--    카카오 로그인-->
    <insert id="insertKakaoMember">
        insert into tbl_member (kakao_email, kakao_profile_url, member_phone_number, member_name, member_provider)
        values (#{kakaoEmail}, #{kakaoProfileUrl}, #{memberPhoneNumber}, #{memberName}, #{memberProvider})
    </insert>
</mapper>