<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.MemberMapper">
<!--    일반 회원 추가-->
    <insert id="insertMember">
        insert into tbl_member (member_name, member_phone_number, member_email, member_password)
        values (#{memberName}, #{memberPhoneNumber}, #{memberEmail}, #{memberPassword})
    </insert>
<!--    관리자 회원 조회-->
    <select id="selectAdmin">
        select * from tbl_member
        where member_common = 'admin'and member_status='active' and member_email=#{memberEmail} and member_password=#{memberPassword}
    </select>
<!--    일반 회원 조회-->
    <select id="selectMember">
        select id, member_name, member_email, kakao_email, member_provider, member_phone_number, member_password, member_suggestion_count, kakao_profile_url, member_mentor, member_status, member_common, created_date, updated_date from tbl_member
        where member_common='none' and member_status='active' and member_email=#{memberEmail} and member_password=#{memberPassword}
    </select>

</mapper>