<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rebound.mapper.PostMapper">
    <!-- 게시글(실패 경험담) 추가 -->

    <!-- 게시글 목록 -->
    <select id="selectAll">
        select m.member_name, p.id, p.post_title, p.post_content, p.post_views,
               p.created_date, p.updated_date, p.post_status
        from tbl_member m
        join tbl_post p on m.id = p.member_id
        join tbl_comment c on p.id = c.post_id
        and p.post_status = 'active'
        order by p.created_date desc
        limit #{count} offset #{offset}
    </select>

    <select id="selectCountAll">
        select count(*) from tbl_post
        where post_status = 'active'
    </select>
</mapper>