form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
small, .small {
    font-size: 80%;
    font-weight: 400;
}
div {
    display: block;
    unicode-bidi: isolate;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
* {
     word-break: break-word;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.container{
    opacity: 1;
}
#app #main {
    height: 100%;
    position: relative;
    flex-grow: 1;
}
#app #app-header, #app #main {
    opacity: 0;
    transition: opacity .3s ease-in;
}
#main{
    background-color: #f6f7f9;
}
.container-1{
    padding: 5rem 0;
    max-width: 26.25rem;
    width: 100%;
    margin: 0 auto;
}
.container-1 h2{
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 500;
}
.card {
    width: 100%;
    max-width: 26.5rem;
    border: .0625rem solid #EFF1F5;
    border-radius: 8px;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: none;
}
.card {
    border: none;
    border-radius: 4px;
    box-shadow: 0 .0625rem .3125rem #0003;
}
.card {
    position: relative;
    display: flex
;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: .0625rem solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.row{
    display: flex
;
    flex-wrap: wrap;
    margin-right: -.3125rem;
    margin-left: -.3125rem;
}
.col{
    flex: 0 0 100%;
    max-width: 100%;
}
.form-group{
    margin: 0;
}
 .col-form-label {
    padding-bottom: .375rem;
    font-size: 1rem;
    font-weight: 500;
}
.pt-0, .py-0 {
    padding-top: 0 !important;
}
.col-form-label {
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.form-control.active {
    border-color: #693bf2;
    outline: 0;
    box-shadow: none;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: .6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #293341;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #E0E5EB;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.notice{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: .875rem;
    line-height: normal;
    color: #6a7685;
    letter-spacing: normal;
}
.text-muted {
    color: #8f9aab !important;
}
.form-text {
    display: block;
    margin-top: .25rem;
}
.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #293341;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .0625rem solid transparent;
    padding: .6875rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #693bf2;
    border-color: #693bf2;
}
.indicator-body.center {
    margin: 0 auto;
}
.indicator-body {
    border-radius: 50%;
    animation: spin-35b76683 1s infinite ease-in-out;
}