* {
    box-sizing: border-box;
    word-break: break-word;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
html, body, #__next {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
a {
    color: inherit;
    text-decoration: none;
}
html, body, #__next {
    font-family: font, "font Fallback";
    line-height: 1.5;
    color: rgb(41, 51, 65);
}
html, body, #__next {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}

#__next{
    display: flex
;
    min-height: 100%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

main {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}
.main{
    background-color: rgb(255, 255, 255);
}
.main-1{
    position: relative;
    max-width: calc(452px);
    margin: 0px auto;
    padding: 0px 16px;
    min-height: 300px;
}
.main-2{
    display: flex
;
    flex-direction: column;
    gap: 40px;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 40px;
}
.main-3{
    color: rgb(41, 51, 65);
    font-size: 34px;
    font-weight: 500;
    align-self: center;
}
.main-4{
    display: flex
;
    flex-direction: column;
    width: 100%;
    max-width: 424px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 80px;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid rgb(239, 241, 245);
}
.main-5{
    display: flex
;
    flex-direction: column;
    gap: 24px;
}
.main-6{
    display: flex
;
    gap: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 7px;
}
.main-7{
    display: flex
;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 12px;
}
.main-8{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.main-9{
    position: relative;
    display: flex
;
}
.main-10{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 4px;
}
.main-11{
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgb(234, 22, 35);
    color: rgb(41, 51, 65);
    font-size: 16px;
    width: 100%;
    outline: none;
    height: 48px;
    resize: none;
}
.main-11-1{
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgb(224, 229, 235);
    color: rgb(41, 51, 65);
    font-size: 16px;
    width: 100%;
    outline: none;
    height: 48px;
    resize: none;
}

.main-12{
    font-size: 14px;
    font-weight: 400;
    color: rgb(234, 22, 35);
}
.main-13{
    padding: 12px 70px 12px 12px;
    border-radius: 4px;
    border: 1px solid rgb(234, 22, 35);
    color: rgb(41, 51, 65);
    font-size: 16px;
    width: 100%;
    outline: none;
    height: 48px;
    resize: none;
}

.main-13-1 {
    padding: 12px 70px 12px 12px;
    border-radius: 4px;
    border: 1px solid rgb(224, 229, 235);
    color: rgb(41, 51, 65);
    font-size: 16px;
    width: 100%;
    outline: none;
    height: 48px;
    resize: none;
}
.main-13-1.active{
    border: 1px solid rgb(0, 115, 255);
}
.main-13-2{
    position: absolute;
    top: 50%;
    right: 46px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    visibility: hidden;
}

.main-13-2.active{
    visibility: visible;
}

.main-13-3{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 50px;
    white-space: nowrap;
    color: rgb(105, 59, 242);
    font-size: 14px;
    font-weight: 400;
    visibility: hidden;
}

.main-13-3.active{
    visibility: visible;
}

.main-14{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
    border-color: rgb(105, 59, 242);
    background-color: rgb(105, 59, 242);
    padding: 11px 12px;
    font-size: 16px;
    border-radius: 4px;
    width: initial;
}
.main-14:hover {
    background-color: rgb(84, 0, 215);
    will-change: background-color;
}
.main-15{
    color: rgb(106, 118, 133);
    padding: 6px 0px;
    font-size: 14px;
}
.main-16{
    width: 1px;
    height: 12px;
    background-color: rgb(224, 229, 235);
}
.main-17{
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(254, 229, 0);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    gap: 4px;
}

.main-18{
    flex-shrink: 0;
}
.main-19{
    min-height: 1.25rem;
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: unset;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.main-20{
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(3, 199, 90);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    gap: 4px;
}