html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
main {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}
body {
    line-height: 1;
}
* {
    box-sizing: border-box;
    word-break: break-word;
}
main {
    display: block;
    unicode-bidi: isolate;
}
html, body, #__next {
    font-family: font, "font Fallback";
    line-height: 1.5;
    color: rgb(41, 51, 65);
}


.main{
    position: relative;
    max-width: calc(632px);
    margin: 0px auto;
    padding: 0px 16px;
}
.main-1{
    padding-bottom: 80px;
}
.main-2{
    font-size: 34px;
    font-weight: 500;
    margin: 48px 0px;
}
.main-3{
    padding: 0px 0px 12px;
    margin: 0px 0px 56px;
}

.main-4{
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;
    color: rgb(106, 118, 133);
    font-size: 14px;
}
.main-5{
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-color: transparent;
    background-color: transparent;
    border-radius: 4px;
    width: initial;
    padding: 0px;
    color: rgb(105, 59, 242);
    font-size: 14px;
    font-weight: 500;
}
.main-6{
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(239, 241, 245);
    font-size: 16px;
}
.main-7{
    display: -webkit-box;
    max-height: 1.5em;
    line-height: 1.5;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}


#setName.active{
    display: block;
}
#set1.active{
    display: block;
}#set2.active{
    display: block;
}
.info{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: 0px;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.400);
}

.info-1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 350px;
}
.info-2{

    display: block;
    text-align: center;
    width: 300px;
    font-size: 20px;
    padding-top: 20px;
    margin: 0 auto;

}
.info-3{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-style: none;
    border: 2px solid black;
    width: 240px;
    height: 35px;
    border-radius: 6px;
    font-size: large;
    padding-left: 10px;
}

.info-4{
    width: 250px;
    margin:0 auto;
}

.info-5{
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-color: rgb(224, 229, 235);
    background-color: transparent;
    padding: 8px 0px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: rgb(41, 51, 65);
    margin:20px 0;
}
.info-6{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    padding: 8px 0px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    background-color: rgb(105, 59, 242);
    color: rgb(255, 255, 255);
    margin:20px 0;
}
.wrap.active{
    display: none;
}
.sub.active{
    display: block;
}

.wrap.active{
    display: none;
}

.wrap{
    margin-top: 30px;
}
.sub.active{
    display: block;
}

.sub{
    margin-top: 30px;
    display: none;
}

.select-1{
    display: flex
;
    -webkit-box-pack: end;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 24px;
}
.select-2{
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-color: rgb(224, 229, 235);
    background-color: transparent;
    padding: 8px 0px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: rgb(41, 51, 65);
    margin:20px 0;
}
.select-3{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    padding: 8px 0px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    background-color: rgb(105, 59, 242);
    color: rgb(255, 255, 255);
    margin:20px 0;
}