html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
a {
    color: inherit;
    text-decoration: none;
}
input{
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
}
ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
main {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}
body {
    line-height: 1;
}
* {
    box-sizing: border-box;
    word-break: break-word;
}
main {
    display: block;
    unicode-bidi: isolate;
}
html, body, #__next {
    font-family: font, "font Fallback";
    line-height: 1.5;
    color: rgb(41, 51, 65);
}

.log-1{
    display: flex
;
}
.log-2{
    min-height: 1.375rem;
    line-height: 1.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgb(28, 36, 47);
    text-align: left;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}
.log-3{
    display: flex
;
    position: relative;
}
.log-4{
    margin: 0px 2px 0px 0px;
}
.log-5{
    display: none;
    position: relative;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 53, 65);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 999px;
}
.log-6{
    width: fit-content;
    height: fit-content;
    position: relative;
    display: inline-flex
;
}
.log-7{
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(41, 51, 65);
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    width: initial;
    display: flex
;
    border: 0px;
}
.log-8{
    position: relative;
    width: 24px;
    height: 24px;
}
.log-9{
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(41, 51, 65);
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    width: initial;
    display: flex
;
    border: 0px;
}
.log-10{
    position: relative;
    display: block;
}
.log-11{
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(41, 51, 65);
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    width: initial;
    display: flex
;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
}
.logo-12{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(239, 241, 245);
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
}

.logo-13 > ul {
    display: flex
;
    gap: 16px;
}

.main{
    position: relative;
    max-width: calc(632px);
    margin: 0px auto;
    padding: 0px 16px;
}
.main-1{
    padding-bottom: 80px;
}
.main-2{
    font-size: 34px;
    font-weight: 500;
    margin: 48px 0px;
}
.main-3{
    padding: 0px 0px 12px;
    margin: 0px 0px 56px;
}
.main-4{
    display: none;
    margin: 0px -16px;
    height: 8px;
    border: none;
    background-color: rgb(239, 241, 245);
}
.main-5{
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 24px;
}
.main-6{
    position: relative;
}
.main-7{
    position: relative;
    border-radius: 56px;
    overflow: hidden;
    border: 1px solid rgb(239, 241, 245);
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}
.main-8{
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(41, 51, 65);
    font-size: 16px;
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 32px;
    width: 32px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    border: 1px solid rgb(239, 241, 245);
}
.main-9{
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;
    color: rgb(106, 118, 133);
    font-size: 14px;
}
.main-10{
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-color: transparent;
    background-color: transparent;
    border-radius: 4px;
    width: initial;
    padding: 0px;
    color: rgb(105, 59, 242);
    font-size: 14px;
    font-weight: 500;
}
.main-11{
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(239, 241, 245);
    font-size: 16px;
}
.main-12{
    display: -webkit-box;
    max-height: 1.5em;
    line-height: 1.5;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.main-13{
    border-bottom: 1px solid rgb(239, 241, 245);
}
.main-14{
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 24px 0px;
    outline: none;
}
.main-15{
    min-height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgb(28, 36, 47);
    text-align: left;
}
.main-16{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
}
.main-17{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 12px;
    height: 28px;
    border-radius: 4px;
    background-color: rgb(254, 246, 246);
    color: rgb(234, 22, 35);
    font-size: 12px;
    font-weight: 500;
}
.photo-1.active{
    display: block;}

.photo-1{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: 0px;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.400);
    display: none;
}
.photo-2{
    display: flex
;
    place-content: center;
    flex-direction: column;
    -webkit-box-pack: center;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 280px;
    min-height: 100%;
    position: relative;
    pointer-events: auto;
    z-index: 1050;
}
.photo-3{
    scrollbar-width: none;
    display: flex
;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
    max-height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    overflow-y: auto;
}
.photo-4{
    display: flex
;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 36px 12px 20px;
}
.phtop-5{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.photo-6{
    display: flex
;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.photo-7{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
    border-color: rgb(105, 59, 242);
    background-color: rgb(105, 59, 242);
    font-size: 14px;
    border-radius: 6px;
    width: initial;
    padding: 12px 16px;
    height: 44px;
}
.photo-8{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
}
.photo-9{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
    border-color: rgb(105, 59, 242);
    background-color: rgb(105, 59, 242);
    padding: 7px 14px;
    font-size: 14px;
    border-radius: 6px;
    width: initial;
    height: 44px;
}
.photo-10{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    width: initial;
    color: rgb(170, 180, 191);
}
#setName.active{
    display: block;
}
#set1.active{
    display: block;
}#set2.active{
    display: block;
}
.info{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: 0px;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.400);
    display: none;
}
.info-1{
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-color: rgb(224, 229, 235);
    background-color: transparent;
    padding: 8px 0px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: rgb(41, 51, 65);
    margin:20px 0;
}
.info-2 {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    padding: 8px 0px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    background-color: rgb(105, 59, 242);
    color: rgb(255, 255, 255);
    margin:20px 0;
}
.info-3{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-style: none;
    border: 2px solid black;
    width: 240px;
    height: 35px;
    border-radius: 6px;
    font-size: large;
    padding-left: 10px;
}
.info-4{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 350px;
}
.info-5{
    width: 250px;
    margin:0 auto;
}
.info-6{

    display: block;
    text-align: center;
    width: 300px;
    font-size: 20px;
    padding-top: 20px;
    margin: 0 auto;

}
.select-1{
    display: flex
;
    -webkit-box-pack: end;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 24px;
}
.select-2{
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    border-color: rgb(224, 229, 235);
    background-color: transparent;
    padding: 8px 0px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: rgb(41, 51, 65);
    margin:20px 0;
}
.select-3{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    padding: 8px 0px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    background-color: rgb(105, 59, 242);
    color: rgb(255, 255, 255);
    margin:20px 0;
}
#sub{
    display: none;
}
#wrap.active{
    display: none;
}
#sub.active{
    display: block;
}