* {
    box-sizing: border-box;
    word-break: break-word;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, #__next{
    font-family: font, "font Fallback";
    line-height: 1.5;
    color: rgb(41, 51, 65);
}
main {
    display: block;
    unicode-bidi: isolate;
}
main {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}
.main{
    position: relative;
    max-width: calc(1002px);
    margin: 0px auto;
    padding: 0px 16px;
}
.main-1{
    margin: 32px 0px 109px;
}
.main-2{
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
}
.main-3{
    display: flex
;
    gap: 40px;
}
.main-4{
    margin: 32px 0px;
}
.main-5{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
}
.main-6{
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    min-height: 96px;
    padding: 24px 28px 24px 24px;
    background: rgb(241, 238, 255);
    border-radius: 12px;
}
.main-7{
    display: flex
;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
}
.main-8{
    color: rgb(105, 59, 242);
    font-size: 24px;
}
.main-9{
    position: relative;
    display: inline-block;
    font-variant-numeric: tabular-nums;
}
.main-10{
    display: inline-block;
    height: 100%;
}
.main-11{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}
.main-12{
    line-height: 28px;
    color: rgb(106, 118, 133);
    margin-top: 12px;
}
.main-13{
    position: sticky;
    top: 104px;
    right: 0px;
    min-width: 280px;
    height: fit-content;
    padding: 20px;
    margin-top: 32px;
    border: 1px solid rgb(239, 241, 245);
    border-radius: 16px;
}
.main-13 h2 {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 700;
}
.main-14{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
    border-color: rgb(105, 59, 242);
    background-color: rgb(105, 59, 242);
    padding: 11px 12px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
}
.main-14 button {
    border-radius: 6px;
}
.main-15{
    font-size: 20px;
    margin-right: 12px;
    font-weight: 500;
}